#footer{
  background-color: #314870;
  color: #fff;
  padding: 30px 0 40px 0;
  @media(max-width: 767px){
    font-size: 10px;
    padding-bottom: 10px;
  }
  .logo{
    margin-bottom: 40px;
    @media(max-width: 767px){
      margin-bottom: 25px;
    }
    img{
      width: 120px;
      @media(max-width: 767px){
        width: 90px;
      }
    }
  }
  .content{
    @media(max-width: 767px){
      margin-bottom: 25px;
    }
    &.contact-col{
      ul{
        li{
          padding-left: 35px;
          position: relative;
          img{
            position: absolute;
            left: 0;
            top: -5px;
          }
        }
      }
    }
    &.service-col{
      ul{
        li{
          &:before{
            content: url("../images/muitenfooter-1.svg");
            display: inline-block;
          }
          &:hover{
            &:before{
              content: url("../images/muitenfooter.svg");
            }
            a{
              color: #f4d36a;
            }
          }
        }
      }
    }
    h3{
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 700;
      position: relative;
      font-size: 24px;
      letter-spacing: 0.4px;
      color: #f4d36a;
      padding-top: 25px;
      margin-bottom: 20px;
      &:after{
        content: '';
        width: 260px;
        height: 2px;
        background-color: #f4d36a;
        position: absolute;
        left: 0;
        top:10px;
      }
      &:before{
        content: '';
        width: 130px;
        height: 2px;
        background-color: #f4d36a;
        position: absolute;
        left: 0;
        top:15px;
      }
    }
    ul{
      li{
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          font-weight: 700;
          margin-bottom: 5px;
          display: block;
        }
        a{
          color: #fff;
          &:hover{
            color: #f4d36a;
          }
        }
        img{
          margin-right: 5px;
        }
      }
    }
    .social{
      margin-top: 15px;
      a{
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
