#header{
  nav{
    display: flex;
    align-items: center;
    .logo{
      img{
        width: 120px;
      }
    }
    .wrapper{
      display: flex;
      align-items: center;
      ul.menu{
        display: flex;
        margin: 0 30px 0 50px;
        li{
          margin-right: 25px;
          &:last-child{
            margin-right: 0;
          }
          a{
            color: #5d5d5d;
            letter-spacing: 0.2px;
            font-weight: 500;
            &.active{
              color: #c7ab50;
            }
            &:hover{
              color: #c7ab50;
            }
          }
        }
      }
      .search-languages{
        display: flex;
        align-items: center;
        li{
          margin-right: 15px;
          select{
            background: transparent;
            border: none;
            &:focus{
              outline: none;
            }
          }
          &:last-child{
            margin-right: 0;
          }
          svg{
            cursor: pointer;
            &:hover{
              path{
                fill:#c7ab50;
              }
            }
          }
        }
      }
    }
  }
}
