#homepage{
  #last-news{
    display: flex;
    align-items: center;
    background-color: #ED1B24;
    padding: 40px 55px;
    @media(max-width: 767px){
      display: block;
      text-align: center;
    }
    h1{
      color: #ffffff;
      font-size: 33px;
      display: inline-block;
      font-weight: 700;
      @media(max-width: 767px){
        display: block;
      }
    }
    a{
      font-size: 20px;
      color: #ED1B24;
      padding: 5px 15px;
      background-color: #ffffff;
      display: inline-block;
      @include border-radius(5px);
      margin-left: 20px;
      border: 2px solid #ffffff;
      @media(max-width: 767px){
        margin: 15px 0 0 0;
      }
      &:hover{
        background-color: #ED1B24;
        color: #ffffff;
      }
    }
  }
  #devices-transaction{
    padding: 50px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width: 1600px){
      padding: 150px 0;
    }
    @media(max-width: 991px){
      background-image: none !important;
    }
    .left-col{
      h2{
        color: #ED1B24;
        font-weight: 700;
        font-size: 20px;
        border-bottom: 2px solid #ED1B24;
        padding-bottom: 7px;
        padding-left: 15px;
        @media(max-width: 767px){
          padding-left: 0;
        }
      }
      .list-devices{
        padding:0 15px;
        margin: 30px 0 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 767px){
          padding: 0;
          display: block;
          margin: 30px 0;
          &:after{
            content: '';
            display: table;
            clear: both;
          }
        }
        li{
          @media(max-width: 767px){
            margin-bottom: 15px;
            width: 50%;
            float: left;
          }
          img{
            height: 45px;
            width: auto;
          }
        }
      }
      .list-content{
        margin-top: 25px;
        padding-left: 15px;
        @media(max-width: 767px){
          padding-left: 0;
        }
        li{
          position: relative;
          padding-left: 10px;
          font-size: 16px;
          margin-bottom: 5px;
          &:before{
            content: '';
            width: 4px;
            height: 4px;
            display: inline-block;
            @include border-radius(50%);
            position: absolute;
            left: 0;
            top: 7px;
            background-color: #333333;
          }
        }
      }
    }
    .img-mb{
      width: calc(100% + 30px);
      margin: 25px 0 0 -15px;
    }
  }
}