<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dịch vụ  </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header id="header">
    <div class="container">
        <nav>
            <div class="logo">
                <a class="d-inline-block" href="/"><img src="images/logo.svg" alt=""></a>
            </div>
            <div class="wrapper">
                <ul class="menu">
                    <li><a href="/">TRANG CHỦ</a></li>
                    <li><a href="../layouts/gioi-thieu.html">GIỚI THIỆU</a></li>
                    <li><a class="active" href="../layouts/dich-vu.html">DỊCH VỤ</a></li>
                    <li><a href="../layouts/van-ban-phap-luat.html">VĂN BẢN PHÁP LUẬT</a></li>
                    <li><a href="../layouts/bieu-mau.html">BIỂU MẪU</a></li>
                    <li><a href="../layouts/tin-tuc.html">TIN TỨC</a></li>
                    <li><a href="../layouts/tuyen-dung.html">TUYỂN DỤNG</a></li>
                    <li><a href="../layouts/lien-he.html">LIÊN HỆ</a></li>
                </ul>
                <ul class="search-languages">
                    <li>
                        <svg class="d-none d-lg-inline-block" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                            <g id="search" transform="translate(-718 -237)">
                                <g id="search-2" data-name="search" transform="translate(725.09 244.439)">
                                    <path id="Path_13" data-name="Path 13" d="M14.637,22.774a7.989,7.989,0,0,0,5.2-1.894l6.315,6.315a.74.74,0,0,0,1.046,0,.74.74,0,0,0,0-1.046l-6.315-6.315a8.124,8.124,0,1,0-6.242,2.941Zm0-14.794a6.657,6.657,0,1,1-6.657,6.657A6.664,6.664,0,0,1,14.637,7.979Z" transform="translate(-6.5 -6.5)" fill="#314870"/>
                                </g>
                                <rect id="Rectangle_6" data-name="Rectangle 6" width="35" height="35" transform="translate(718 237)" fill="none"/>
                            </g>
                        </svg>
                        <form action="">
                            <input type="text" placeholder="Tìm kiếm ">
                        </form>
                    </li>
                    <li>
                        <select name="languages" id="languages">
                            <option value="VN">VN</option>
                            <option value="EN">EN</option>
                        </select>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <div class="wrapper-control-mobile d-lg-none">
                <img src="../images/search-1.svg" alt="">
                <div class="control__menu">
                    <span class="line line--first"></span>
                    <span class="line line--second"></span>
                    <span class="line line--third"></span>
                </div>
            </div>
        </nav>
    </div>
</header>
<main id="dich-vu">
    <section id="banner-page" style="background-image: url('../images/banner_cac_trang.png')">
        <div class="container">
            <h1 class="text-center">DỊCH VỤ CỦA CHÚNG TÔI</h1>
        </div>
    </section>
    <section id="service-details">
        <div class="container">
            <h2 class="title-section">Chi tiết dịch vụ</h2>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/tranhchaphopdong-2.svg" alt="">
                        <h3>Tranh chấp hợp đồng</h3>
                        <p>Tư vấn soạn thảo hợp đồng, Tư vấn tranh chấp hợp đồng, Hợp đồng mua bán hàng hoá, Tranh chấp hợp đồng.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/tuvandoanhnghiep-2.svg" alt="">
                        <h3>Tư vấn doanh nghiệp</h3>
                        <p>Tư vấn doanh nghiệp, Tư vấn pháp lý thường xuyên, Tư vấn thay đổi giấy phép kinh doanh, Tranh chấp kinh doanh, thương mại.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/duanbatdongsan-2.svg" alt="">
                        <h3>Dự án bất động sản</h3>
                        <p>Tư vấn thủ tục xây dựng,  Hồ sơ pháp lý dự án bất động sản, Hỗ trợ các vấn đề pháp lý liên quan tới dự án, Lập hồ sơ pháp lý của dự án, Hỗ trợ thủ tục xin cấp giấy phép.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/dansu-2.svg" alt="">
                        <h3>Dân sự</h3>
                        <p>Tranh chấp hợp đồng dân sự, Tranh chấp tài sản, Tranh chấp thừa kế, Tranh chấp bồi thường thiệt hại ngoài hợp đồng.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/hinhsu-2.svg" alt="">
                        <h3>Hình sự</h3>
                        <p>Tư vấn pháp luật, Hình sự giai đoạn khởi tố vụ án - điều tra -truy tố vụ án, Hình sự giai đoạn xét xử sơ thẩm vụ án, Hình sự giai đoạn xét xử phúc thẩm vụ án hình sự.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="content">
                        <img src="../images/nhadat-2.svg" alt="">
                        <h3>Nhà đất</h3>
                        <p>Tranh chấp hợp đồng, Chuyển nhượng quyền sử dụng đất, Dịch vụ về các thủ tục pháp lý nhà đất, Thủ tục xin cấp GCN.</p>
                        <span>LIÊN HỆ NGAY</span>
                        <a href="../layouts/lien-he.html"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="banner-inpage">
        <div class="container">
            <h2><span>95%</span> DỰ ÁN THÀNH CÔNG LÀ DO SỰ CHUẨN BỊ <br class="d-none d-lg-inline-block">
                KỸ LƯỠNG CỦA CÁC LUẬT SƯ</h2>
        </div>
    </section>
</main>
<footer id="footer">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="../images/logo.svg" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="content contact-col">
                    <h3>Liên hệ với chúng tôi</h3>
                    <ul>
                        <li>
                            <a href="https://goo.gl/maps/U1qvWpd91Gs" target="_blank">
                                <img src="../images/vi-tri.svg" alt="">
                                118/14 Đường Hòa Bình, Q.Tân Phú, TP.HCM
                            </a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/f84wp9pwtU72" target="_blank">
                                <img src="../images/vi-tri.svg" alt="">
                                VPGD: 449 Điện Biên Phủ (lầu 2), <br class="d-none d-lg-inline-block">
                                P.3, Q.3, TP.HCM
                            </a>
                        </li>
                        <li>
                            <a href="tel:0903634818">
                                <img src="../images/dienthoai.svg" alt="">
                                0903 634 818
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@thinhviettri.com">
                                <img src="../images/Email.svg" alt="">
                                info@thinhviettri.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content schedule-working-col">
                    <h3>Giờ mở cửa</h3>
                    <ul>
                        <li>
                            <span>Ngày thường</span>
                            <p>Thứ hai - Thứ sáu: 8h00 - 17h00</p>
                        </li>
                        <li>
                            <span>Ngày lễ</span>
                            <p>Thứ 7 - Chủ Nhật: Nghỉ</p>
                            <p>Ngày lễ: Nghỉ</p>
                        </li>
                    </ul>
                    <div class="social">
                        <a href="https://www.facebook.com/Thinh-Viet-Tri-Law-Firm-722417308099615/" target="_blank"><img src="../images/fb.svg" alt=""></a>
                        <a href="#" target="_blank"><img src="../images/google.svg" alt=""></a>
                        <a href="#" target="_blank"><img src="../images/youtube.svg" alt=""></a>
                        <a href="#" target="_blank"><img src="../images/Twiter.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="content service-col">
                    <h3>Dịch vụ </h3>
                    <ul>
                        <li>
                            <a href="#">Tranh chấp hợp đồng</a>
                        </li>
                        <li>
                            <a href="#">Tư vấn doanh nghiệp</a>
                        </li>
                        <li>
                            <a href="#">Dự án bất động sản</a>
                        </li>
                        <li>
                            <a href="#">Dân sự</a>
                        </li>
                        <li>
                            <a href="#">Hình sự</a>
                        </li>
                        <li>
                            <a href="#">Nhà đất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(document).ready(function(){
        if (window.matchMedia('(min-width: 768px)').matches){
            let heights = $("#dich-vu #service-details .content p").map(function ()
            {
                return $(this).height();
            }).get();
            maxHeight = Math.max.apply(null, heights);
            console.log('max-height: ',maxHeight);
            $('#dich-vu #service-details .content p').css('height', maxHeight);
        }

    });
</script>
</body>
</html>
